‚úÖ 2. Keyword Trick
Watch for keywords:

Less than / Decrease ‚Üí H‚Çê: Œº < ... ‚Üí Left-tailed

Greater than / Increase ‚Üí H‚Çê: Œº > ... ‚Üí Right-tailed

Not equal / Different ‚Üí H‚Çê: Œº ‚â† ... ‚Üí Two-tailed

# Z-Test

Practice Example: One-Sample Z-Test
A company claims that the average salary of its employees is PKR 50,000 per month. A labor rights group believes this is an overstatement. To test this, they take a random sample of 40 employees and find that the sample mean salary is PKR 47,500 with a standard deviation of PKR 6,000.

Using a significance level of 0.05, test the claim of the company.

In [1]:
# H0 salry_emp = 50000 company is right
# Ha salary_emp < 50000 labour is right

In [2]:
import scipy.stats as st
import numpy as np

In [3]:
no_of_sample =40  # sample >30 so apply z-test
sample_mean_x =47500
pop_mean_mue =50000
std =6000
alpha =0.05

In [4]:
z_table =st.norm.ppf(alpha)
print(f"z_table value :{z_table}")

z_table value :-1.6448536269514729

In [5]:
z_cal =(sample_mean_x-pop_mean_mue)/(std/np.sqrt(no_of_sample))
z_cal

-2.63523138347365

In [ ]:
if z_cal < z_table:
    print("Ha labour is right average salry is less than 50000")
else:
    print("H0 is right company is right salary is greater than 50000")

Ha labour is right average salry is less than 50000

# T-Test

üìò T-Test Practice Scenario (One-Sample t-test)
A university claims that its students study an average of 15 hours per week. You believe students actually study less than that.

You take a random sample of 10 students, and find that their average study time is 13 hours/week, with a sample standard deviation of 2.5 hours.

Using a significance level of 0.05, test the claim of the university.

In [ ]:
# H0  students_study =15 hours # university claim
# Ha  student_study < 15 hours  #student claim (this is left tailed)

In [ ]:
sample_no_student =10
sample_mean_x_bar =13
pop_mean =15
s =2.5
alpha =0.05

In [ ]:
df = sample_no_student - 1  # degrees of freedom = 9

In [ ]:
t_table =st.t.ppf(alpha,df)
print(f"z_table value :{z_table}")

In [ ]:
t_cal =(sample_mean_x_bar-pop_mean)/(s/np.sqrt(sample_no_student))
print(f"Z_cal is : {z_cal}")

In [ ]:
if t_cal < t_table :
    print("Ha Student is right student hour is less than 15 hours a week")
else:
    print("H0 university is right student hour us 15 houra")

# CHAI Test

‚úÖ Decision Rule for Hypothesis Testing:

If CHAI_calculate > CHAI_table ‚áí Ha is right

If CHAI_calculate ‚â§ CHAI_table ‚áí H0 is right

In [ ]:
# H0 distribution of user evenly spread
# Ha distribution of user not evenly spread

In [ ]:
total_no_sample =4
alpha =0.05

obeservation_value =np.array([30,20,25,25])
expexted_value =np.array([25,25,25,25])

In [ ]:
df =total_no_sample-1
df

In [ ]:
#Calculate CHAI table value
CHAI_table =st.chi2.ppf(1 - alpha, df)
print(f"CHAI Table Value is :{CHAI_table}")

In [ ]:
#Calculate CHAI calculate

CHAI_calculate =np.sum(np.square(obeservation_value-expexted_value)/expexted_value)
print(f"CHAI_calculate Value is :{CHAI_calculate}")

In [ ]:
if CHAI_calculate < CHAI_table:
    print('H0 distribution of user evenly spread')
else:
    print('Ha distribution of user not evenly spread')